h1 {color:white; font-size: 60px; font-family: trebuchet, sans-serif;margin-top: 0px;margin-bottom: 0px;text-shadow: 0 3px rgba(0,0,0,0.7);}
h2 {color: white; font-size: 40px;font-family: trebuchet;margin-top: 0px;margin-bottom: 0px;text-shadow: 0 3px rgba(0,0,0,0.7);}
h3 {color: #282425; font-size: 36px;font-family:"Brush Script MT", sans-serif; margin-top: 20px;margin-bottom: 20px; text-decoration: underline;}
h4 {color: white;font-size: 22px;margin-top: 0px;margin-bottom: 0px;text-decoration: underline; text-decoration-style: dashed;}
h5 {color: white;font-size: 22px; font-style: italic;margin-top: 0px;margin-bottom: 0px;}
h6 {color: #282425; font-size: 18px;font-style: italic;margin-top: 0px;margin-bottom: 0px;}
body {color: #282425;background-color: whitesmoke; font-size:16px;line-height: 1.4;font-family: 'Poppins', sans-serif; text-align: center; margin: 0px;}    
li {font-weight: bold;}
a {font-style: italic;}
.Hlavicka {background-color:#B8B8FF;padding-top: 70px;padding-bottom: 70px;padding-left:7%; padding-right: 7%;}
.AboutMe {background-color: #CC8B8C;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%; overflow: auto;}
.Skills {background-color: #F8F7FF;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.WorkExperience {background-color:#B8B8FF;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.Education {background-color:#CC8B8C;padding-top: 5px;padding-bottom: 30px;padding-left:7%; padding-right: 7%;}
.Languages {background-color:#F8F7FF;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.FreeTime {background-color:#B8B8FF;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.Contact {background-color: #CC8B8C;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.Paticka {background-color:#F8F7FF; color: #282425; text-align: center;padding-top: 5px;padding-bottom: 5px;padding-left:7%; padding-right: 7%;}
.FotoSandra {width: 250px; align-items: center; border: 2px solid white; border-radius: 0% 30% 30% 30%;float: left; margin-right: 30px; margin-bottom: 10px; margin-top: 0px ;}
.UK {width: 80px;}
.VSE {width: 100px;}
.FB {width: 80px; padding: 30px 5px 5px 5px;}
.IG {width: 55px;}
.Hlavicka {background-image: url(fotky/pexels-rachel-claire-4992673.jpg); background-position: center;background-size: 2000px;background-size: cover;}
.Menu li {display: inline-block;}
.Menu {margin: 0; padding: 0;background-color:#B8B8FF; color: white;}
.Menu a {color: white;padding-top: 15px;padding-bottom: 15px;padding-left:20px; padding-right: 20px;;display: inline-block; text-decoration: none; font-style: normal;}
.Menu a:hover {background-color:#CC8B8C ;}
.Education h5 {text-decoration: underline; text-decoration-style:double;}
