h1 {color:white; background-color: #7F7EFF;}
h2 {color: white; background-color: #A390E4;}
h3 {color: #282425;background-color: #C69DD2;}
h4 {color: white;background-color: #CC8B8C;}
h5 {color: white; background-color: #C68866;}
body {color: #282425;background-color: aliceblue;}
